<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tractor Sales</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <nav class="navbar" style="background-color: #FFFF00;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
      <li class="nav-item">
        <a class="nav-item" href="{{ url_for('sales') }}">Sales</a>
      </li>
     </div>
     
    </div>
  </nav>
  <body>
    {% block content %}

      {% endblock %}
  </body>
</html>